%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2011-2017 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{brt_protect, true}.

{erl_opts, [
    warn_bif_clash,
    warn_deprecated_function,
    warn_deprecated_type,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_untyped_record,
    warn_unused_import
]}.

{deps, [
    {goldrush,
        {git, "https://github.com/basho/goldrush.git",
        {branch, "feature/riak-2903/rebar3"} }}
]}.

{profiles, [
    {check, [
        {dialyzer, [
            {warnings, [
                % try this occasionally, but it'll report an error on OTP-18+
                % for lager_default_tracer:info/1
                % unknown,

                error_handling,
                race_conditions,
                unmatched_returns
            ]}
        ]},
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            {d, 'BASHO_CHECK'},
            {platform_define, "^R", 'BASHO_CHECK_EXCLUDE_MAPS'}
        ]},
        {overrides, [
            {add, goldrush, [{erl_opts, [debug_info]}]}
        ]},
        {xref_checks, [
            deprecated_function_calls,
            deprecated_functions,
            locals_not_used
        ]},
        {xref_queries, [
            {"(XC - UC) || (XU - X - B - lager_default_tracer : Mod)", []}
        ]}
    ]},
    {docs, [
        {edoc_opts, [
            {app_default, "http://www.erlang.org/doc/man"},
            {preprocess, true},
            {stylesheet_file, "priv/edoc.css"},
            {macros, [
                {'EDOC', true},
                {'BASHO_DOCS', true}
            ]}
        ]}
    ]},
    {prod, [
        {erl_opts, [
            warnings_as_errors,
            {d, 'BASHO_PROD'}
        ]}
    ]},
    {test, [
        {cover_enabled, true},
        {erl_opts, [
            debug_info,
            export_all,
            nowarn_export_all,
            nowarn_untyped_record,
            nowarn_unused_import,
            % do NOT include warnings_as_errors - at least one test module
            % has code that is deliberately broken and will generate an
            % un-maskable warning
            {d, 'BASHO_TEST'},
            {lager_extra_sinks, ['__lager_test_sink']}
        ]}
    ]},
    {validate, [
        {erl_opts, [
            strong_validation,
            no_auto_import,
            warn_bif_clash,
            warn_deprecated_function,
            warn_deprecated_type,
            warn_export_all,
            warn_export_vars,
            warn_missing_spec,
            warn_missing_spec_all,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_untyped_record,
            warn_unused_function,
            warn_unused_import,
            warn_unused_record,
            warn_unused_vars,
            {d, 'BASHO_VALIDATE'}
        ]}
    ]}
]}.

{brt_upstream, [
    {upstream, {git, "https://github.com/erlang-lager/lager.git"}},
    {mirror, upstream, master}
]}.

{plugins, [
    {basho_rebar_tools,
        {git, "https://github.com/basho/basho_rebar_tools.git",
        {branch, "master"} }}
]}.

